include VERSION.txt README.md CHANGES.rst CONTRIBUTING.rst LICENSE.rst

recursive-include FCM *.py

recursive-include debian *
recursive-include scripts *

recursive-exclude * __pycache__
recursive-exclude * *~
